In [87]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [89]:
url = 'https://www.laalmanac.com/education/ed33aa.php'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [91]:
table = soup.find('table')

In [93]:
column_data = table.find_all('tr')

In [95]:
list = []
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    list.append(individual_row_data)

In [97]:
filtered_list = [item for item in list if item]

In [99]:
odd_index_elements = filtered_list[1::2]

[['', '', '11.9%', '8.3%', '20.4%', '18.9%', '7.0%', '21.8%', '11.7%'],
 ['', '', '2.2%', '5.4%', '24.2%', '32.1%', '10.5%', '19.5%', '6.1%'],
 ['', '', '2.0%', '0.7%', '9.4%', '17.0%', '7.1%', '40.8%', '23.0%'],
 ['', '', '3.8%', '6.3%', '25.1%', '24.4%', '10.5%', '19.0%', '11.0%'],
 ['', '', '10.1%', '7.0%', '21.8%', '16.9%', '7.8%', '24.3%', '12.1%'],
 ['', '', '14.8%', '13.7%', '15.5%', '24.0%', '4.8%', '19.6%', '7.6%'],
 ['', '', '7.0%', '3.5%', '15.4%', '19.6%', '8.6%', '22.5%', '23.5%'],
 ['', '', '4.2%', '3.2%', '14.7%', '12.4%', '8.6%', '36.3%', '20.7%'],
 ['', '', '9.9%', '9.8%', '21.6%', '18.4%', '8.3%', '22.5%', '9.5%'],
 ['', '', '7.6%', '4.1%', '26.4%', '24.5%', '15.4%', '17.0%', '5.0%'],
 ['', '', '13.7%', '11.2%', '27.6%', '22.2%', '6.0%', '14.7%', '4.7%'],
 ['', '', '11.8%', '7.8%', '25.2%', '19.9%', '8.0%', '17.2%', '10.1%'],
 ['', '', '21.4%', '12.4%', '29.5%', '18.6%', '4.9%', '11.2%', '2.0%'],
 ['', '', '28.3%', '16.2%', '28.3%', '14.4%', '4.5%', '7.5%', '0.8%'],
 ['', '', '34.8%', '14.8%', '27.2%', '14.0%', '3.2%', '4.4%', '1.6%'],
 ['', '', '11.9%', '11.4%', '25.5%', '25.0%', '8.5%', '13.0%', '4.7%'],
 ['', '', '1.6%', '2.2%', '11.9%', '14.6%', '5.7%', '35.1%', '28.9%'],
 ['', '', '4.6%', '3.3%', '8.4%', '16.6%', '16.4%', '28.8%', '22.0%'],
 ['', '', '3.5%', '4.0%', '16.3%', '22.2%', '9.7%', '30.8%', '13.6%'],
 ['', '', '0.4%', '1.4%', '8.8%', '18.7%', '5.5%', '35.1%', '30.2%'],
 ['', '', '9.3%', '8.8%', '21.9%', '22.6%', '8.5%', '20.7%', '8.1%'],
 ['', '', '2.6%', '5.1%', '16.0%', '26.4%', '10.8%', '27.9%', '11.2%'],
 ['', '', '3.9%', '2.2%', '13.9%', '17.7%', '8.7%', '35.1%', '18.5%'],
 ['', '', '6.1%', '5.6%', '22.0%', '22.9%', '11.5%', '25.5%', '6.3%'],
 ['', '', '15.2%', '10.7%', '29.7%', '23.9%', '6.7%', '9.4%', '4.5%'],
 ['', '', '2.4%', '2.1%', '11.7%', '19.0%', '8.5%', '26.4%', '30.0%'],
 ['', '', '21.6%', '16.1%', '23.9%', '21.6%', '4.9%', '9.3%', '2.5%'],
 ['', '', '23.5%', '14.4%', '28.1%', '19.6%', '5.1%', '6.8%', '2.5%'],
 ['', '', '5.7%', '7.0%', '25.2%', '28.4%', '7.8%', '18.5%', '7.5%'],
 ['', '', '30.3%', '15.4%', '27.8%', '15.9%', '3.5%', '6.0%', '1.1%'],
 ['', '', '3.6%', '2.5%', '10.1%', '17.6%', '5.9%', '31.8%', '28.6%'],
 ['', '', '6.7%', '5.3%', '18.7%', '19.4%', '7.4%', '29.4%', '13.0%'],
 ['', '', '20.5%', '11.7%', '28.4%', '23.5%', '6.3%', '8.9%', '0.7%'],
 ['', '', '3.6%', '2.8%', '14.5%', '17.3%', '7.8%', '35.4%', '18.6%'],
 ['', '', '10.5%', '8.0%', '25.3%', '23.4%', '8.4%', '17.1%', '7.5%'],
 ['', '', '8.9%', '7.0%', '21.0%', '22.3%', '8.2%', '21.0%', '11.5%'],
 ['', '', '28.3%', '16.4%', '24.9%', '15.7%', '4.5%', '7.3%', '2.9%'],
 ['', '', '8.6%', '7.1%', '14.2%', '12.7%', '9.1%', '28.5%', '19.7%'],
 ['', '', '32.1%', '18.2%', '26.7%', '15.0%', '3.2%', '4.2%', '0.6%'],
 ['', '', '7.7%', '4.8%', '19.0%', '16.6%', '8.9%', '29.3%', '13.6%'],
 ['', '', '2.0%', '7.6%', '27.9%', '26.6%', '11.0%', '16.7%', '8.2%'],
 ['', '', '24.5%', '13.8%', '27.7%', '15.7%', '4.9%', '11.1%', '2.3%'],
 ['', '', '1.2%', '1.7%', '11.8%', '23.3%', '6.1%', '33.9%', '21.9%'],
 ['', '', '5.4%', '4.9%', '35.2%', '32.9%', '6.1%', '9.2%', '6.2%'],
 ['', '', '32.8%', '18.6%', '24.4%', '14.3%', '3.7%', '5.0%', '1.3%'],
 ['', '', '9.0%', '8.1%', '24.5%', '23.8%', '8.1%', '19.1%', '7.5%'],
 ['', '', '7.5%', '4.5%', '21.4%', '14.7%', '10.3%', '27.0%', '14.6%'],
 ['', '', '3.1%', '4.5%', '19.8%', '23.1%', '10.7%', '24.4%', '14.2%'],
 ['', '', '0.7%', '5.1%', '20.9%', '36.3%', '11.5%', '14.7%', '10.9%'],
 ['', '', '6.1%', '6.7%', '23.4%', '19.9%', '9.8%', '23.4%', '10.6%'],
 ['', '', '2.6%', '6.4%', '25.8%', '24.5%', '6.9%', '27.0%', '6.9%'],
 ['', '', '17.6%', '20.2%', '26.0%', '17.9%', '5.4%', '9.6%', '3.3%'],
 ['', '', '11.7%', '10.7%', '24.2%', '22.8%', '7.1%', '16.3%', '7.2%'],
 ['', '', '0.9%', '1.2%', '6.1%', '10.5%', '4.3%', '50.3%', '26.7%'],
 ['', '', '1.3%', '2.3%', '4.6%', '18.4%', '2.2%', '39.7%', '31.5%'],
 ['', '', '30.0%', '17.8%', '25.4%', '15.3%', '3.6%', '6.4%', '1.4%'],
 ['', '', '4.5%', '13.5%', '34.8%', '23.2%', '1.3%', '17.4%', '5.2%'],
 ['', '', '13.4%', '9.4%', '22.2%', '25.2%', '7.6%', '14.8%', '7.3%'],
 ['', '', '8.9%', '11.6%', '29.5%', '24.9%', '8.3%', '14.2%', '2.6%'],
 ['', '', '0.8%', '0.7%', '6.7%', '12.5%', '5.5%', '37.2%', '36.6%'],
 ['', '', '3.0%', '4.3%', '13.5%', '18.7%', '9.3%', '30.1%', '21.2%'],
 ['', '', '1.0%', '5.0%', '10.4%', '24.0%', '11.0%', '26.6%', '22.0%'],
 ['', '', '5.2%', '4.7%', '22.2%', '23.3%', '8.6%', '24.3%', '11.7%'],
 ['', '', '21.3%', '13.0%', '30.6%', '18.3%', '5.3%', '9.1%', '2.4%'],
 ['', '', '3.0%', '3.6%', '18.8%', '24.8%', '10.6%', '24.0%', '15.1%'],
 ['', '', '1.3%', '4.5%', '6.6%', '20.9%', '11.2%', '29.3%', '26.1%'],
 ['', '', '13.0%', '0.0%', '16.6%', '26.6%', '18.7%', '18.2%', '6.9%'],
 ['', '', '15.0%', '12.8%', '34.4%', '23.9%', '4.2%', '7.0%', '2.8%'],
 ['', '', '5.0%', '4.4%', '21.8%', '26.1%', '11.6%', '22.1%', '9.0%'],
 ['', '', '7.9%', '10.0%', '29.8%', '23.6%', '9.6%', '11.9%', '7.2%'],
 ['', '', '14.8%', '12.3%', '25.2%', '21.5%', '5.7%', '14.9%', '5.6%'],
 ['', '', '26.6%', '22.2%', '24.0%', '13.9%', '4.5%', '7.6%', '1.2%'],
 ['', '', '5.8%', '3.8%', '23.1%', '31.8%', '14.9%', '12.2%', '8.5%'],
 ['', '', '11.0%', '13.8%', '34.8%', '24.8%', '11.7%', '3.8%', '0.0%'],
 ['', '', '6.2%', '7.1%', '21.6%', '18.1%', '8.9%', '25.7%', '12.4%'],
 ['', '', '12.1%', '7.6%', '17.7%', '23.7%', '7.2%', '20.5%', '11.3%'],
 ['', '', '13.1%', '8.6%', '18.8%', '17.5%', '6.3%', '23.3%', '12.3%'],
 ['', '', '25.1%', '18.7%', '27.1%', '18.0%', '3.3%', '5.9%', '1.9%'],
 ['', '', '1.0%', '1.6%', '7.5%', '18.4%', '5.6%', '38.2%', '27.7%'],
 ['', '', '0.3%', '1.4%', '5.7%', '12.1%', '3.7%', '42.2%', '34.6%'],
 ['', '', '0.0%', '0.7%', '6.5%', '16.3%', '3.9%', '51.5%', '21.2%'],
 ['', '', '6.9%', '4.5%', '20.1%', '22.6%', '8.1%', '24.9%', '12.8%'],
 ['', '', '36.6%', '14.0%', '27.5%', '11.1%', '3.3%', '4.9%', '2.5%'],
 ['', '', '5.7%', '4.6%', '19.8%', '21.3%', '8.1%', '25.7%', '14.8%'],
 ['', '', '12.4%', '12.9%', '26.8%', '20.7%', '7.9%', '14.0%', '5.3%'],
 ['', '', '13.7%', '7.0%', '23.6%', '15.6%', '7.0%', '23.0%', '10.1%'],
 ['', '', '5.7%', '3.8%', '21.3%', '19.9%', '13.8%', '26.7%', '8.9%'],
 ['', '', '13.7%', '8.9%', '28.9%', '20.8%', '7.4%', '15.6%', '4.6%'],
 ['', '', '11.6%', '12.8%', '28.4%', '24.1%', '7.4%', '10.9%', '4.8%'],
 ['', '', '0.3%', '1.7%', '4.2%', '9.3%', '5.6%', '44.2%', '34.7%'],
 ['', '', '21.7%', '13.1%', '27.8%', '18.5%', '6.6%', '8.4%', '3.8%'],
 ['', '', '7.1%', '4.1%', '13.8%', '15.5%', '6.5%', '27.9%', '25.2%'],
 ['', '', '17.9%', '10.9%', '30.5%', '20.3%', '6.8%', '9.9%', '3.7%'],
 ['', '', '15.6%', '13.0%', '24.7%', '22.1%', '7.1%', '12.5%', '5.0%'],
 ['', '', '3.1%', '8.5%', '22.4%', '29.3%', '13.7%', '14.8%', '8.2%'],
 ['', '', '0.8%', '1.1%', '8.6%', '14.4%', '6.1%', '36.9%', '32.2%'],
 ['', '', '1.4%', '1.6%', '10.3%', '16.4%', '7.9%', '39.3%', '23.1%'],
 ['', '', '0.0%', '0.4%', '8.4%', '16.0%', '5.0%', '35.2%', '35.0%'],
 ['', '', '0.5%', '0.2%', '7.1%', '15.1%', '6.1%', '42.3%', '28.6%'],
 ['', '', '2.7%', '5.5%', '21.5%', '22.5%', '4.1%', '24.8%', '18.9%'],
 ['', '', '23.3%', '10.3%', '25.6%', '13.3%', '6.4%', '16.9%', '4.2%'],
 ['', '', '7.7%', '6.3%', '22.5%', '14.6%', '8.9%', '30.5%', '9.5%'],
 ['', '', '2.1%', '4.1%', '18.9%', '25.3%', '11.5%', '23.2%', '14.9%'],
 ['', '', '18.9%', '16.5%', '27.7%', '17.7%', '5.0%', '10.5%', '3.7%'],
 ['', '', '16.1%', '7.8%', '23.0%', '12.1%', '7.8%', '24.1%', '9.0%'],
 ['', '', '1.7%', '1.4%', '5.5%', '10.3%', '3.1%', '40.1%', '38.0%'],
 ['', '', '5.3%', '1.3%', '10.6%', '14.4%', '3.5%', '30.8%', '34.1%'],
 ['', '', '4.0%', '4.8%', '18.0%', '25.3%', '10.4%', '25.0%', '12.3%'],
 ['', '', '9.8%', '9.5%', '26.7%', '24.3%', '9.9%', '14.2%', '5.7%'],
 ['', '', '3.1%', '2.7%', '8.1%', '12.6%', '5.4%', '38.6%', '29.3%'],
 ['', '', '0.6%', '1.0%', '8.7%', '15.1%', '11.7%', '33.0%', '29.9%'],
 ['', '', '7.5%', '5.5%', '13.0%', '23.6%', '8.2%', '27.3%', '14.9%'],
 ['', '', '29.1%', '13.7%', '27.3%', '16.1%', '3.7%', '7.7%', '2.4%'],
 ['', '', '25.2%', '16.1%', '25.6%', '17.9%', '5.0%', '8.0%', '2.2%'],
 ['', '', '17.1%', '7.1%', '31.3%', '16.9%', '8.0%', '14.3%', '5.3%'],
 ['', '', '1.4%', '1.4%', '6.2%', '12.9%', '7.5%', '34.9%', '35.6%'],
 ['', '', '16.6%', '8.1%', '23.3%', '15.1%', '9.3%', '22.5%', '5.1%'],
 ['', '', '21.5%', '13.3%', '29.0%', '18.7%', '4.9%', '10.0%', '2.6%'],
 ['', '', '9.3%', '8.1%', '32.8%', '25.7%', '7.4%', '11.6%', '5.0%'],
 ['', '', '0.9%', '2.9%', '9.9%', '17.3%', '10.0%', '35.6%', '23.3%'],
 ['', '', '21.3%', '16.8%', '29.5%', '19.0%', '7.8%', '4.6%', '1.0%'],
 ['', '', '7.8%', '5.2%', '21.2%', '16.2%', '8.2%', '28.3%', '13.1%'],
 ['', '', '1.3%', '2.9%', '5.4%', '19.8%', '7.9%', '27.2%', '35.6%'],
 ['', '', '2.3%', '3.0%', '16.1%', '18.4%', '8.5%', '33.6%', '18.1%'],
 ['', '', '16.8%', '3.9%', '25.8%', '31.4%', '7.4%', '11.2%', '3.6%'],
 ['', '', '16.0%', '11.8%', '30.4%', '18.3%', '7.5%', '12.6%', '3.3%'],
 ['', '', '2.3%', '10.9%', '30.2%', '27.1%', '16.3%', '12.4%', '0.8%'],
 ['', '', '1.4%', '2.6%', '12.3%', '19.9%', '8.4%', '31.6%', '23.7%'],
 ['', '', '12.4%', '10.3%', '31.2%', '22.3%', '5.7%', '10.4%', '7.7%'],
 ['', '', '5.0%', '2.5%', '13.2%', '16.0%', '8.4%', '38.4%', '16.5%'],
 ['', '', '30.7%', '20.0%', '21.4%', '14.6%', '3.6%', '7.8%', '1.9%'],
 ['', '', '14.8%', '7.3%', '26.8%', '24.1%', '10.2%', '10.9%', '5.9%'],
 ['', '', '10.0%', '6.8%', '22.8%', '17.7%', '9.0%', '26.0%', '7.6%'],
 ['', '', '7.3%', '5.8%', '27.4%', '20.2%', '8.9%', '21.6%', '8.7%'],
 ['', '', '1.4%', '2.0%', '11.8%', '16.7%', '8.0%', '40.2%', '19.9%'],
 ['', '', '15.5%', '14.5%', '29.7%', '20.0%', '6.0%', '11.2%', '3.1%'],
 ['', '', '16.8%', '11.4%', '23.8%', '24.7%', '8.4%', '9.5%', '5.3%'],
 ['', '', '13.9%', '11.6%', '31.4%', '19.7%', '8.1%', '11.2%', '4.2%'],
 ['', '', '0.8%', '2.2%', '9.7%', '12.8%', '4.4%', '40.8%', '29.3%'],
 ['', '', '16.7%', '15.0%', '29.8%', '22.8%', '5.7%', '7.4%', '2.7%'],
 ['', '', '5.6%', '5.8%', '28.8%', '23.8%', '9.3%', '16.3%', '10.4%'],
 ['', '', '28.3%', '16.9%', '27.0%', '14.5%', '4.6%', '7.1%', '1.7%']]

In [101]:
even_index_elements = filtered_list[::2]

In [103]:
for sublist in odd_index_elements:
    sublist.pop(0)
    sublist.pop(0)

In [107]:
for sublist in even_index_elements:
    sublist.pop(1)

In [109]:
city_names = [sublist[0] for sublist in even_index_elements if sublist]

In [39]:
df1 = pd.DataFrame(even_index_elements, columns=['City', 'Grade < 9', 'Grade 9-12','Highschool Diploma', 'Some College', 'Associate Degree', 'Undergraduate Degree', 'Graduate Degree'])

In [113]:
df2 = pd.DataFrame(odd_index_elements, columns=['Grade < 9 (%)', 'Grade 9-12 (%)','Highschool Diploma (%)', 'Some College (%)', 'Associate Degree (%)', 'Undergraduate Degree (%)', 'Graduate Degree (%)'])

In [117]:
df2.insert(0, 'City', city_names)

In [119]:
df2

,City,Grade < 9 (%),Grade 9-12 (%),Highschool Diploma (%),Some College (%),Associate Degree (%),Undergraduate Degree (%),Graduate Degree (%)
0,Los Angeles County,11.9%,8.3%,20.4%,18.9%,7.0%,21.8%,11.7%
1,Acton*,2.2%,5.4%,24.2%,32.1%,10.5%,19.5%,6.1%
2,Agoura Hills,2.0%,0.7%,9.4%,17.0%,7.1%,40.8%,23.0%
3,Agua Dulce*,3.8%,6.3%,25.1%,24.4%,10.5%,19.0%,11.0%
4,Alhambra,10.1%,7.0%,21.8%,16.9%,7.8%,24.3%,12.1%
...,...,...,...,...,...,...,...,...
137,West Whittier-Los Nietos*,13.9%,11.6%,31.4%,19.7%,8.1%,11.2%,4.2%
138,Westlake Village,0.8%,2.2%,9.7%,12.8%,4.4%,40.8%,29.3%
139,Westmont*,16.7%,15.0%,29.8%,22.8%,5.7%,7.4%,2.7%
140,Whittier,5.6%,5.8%,28.8%,23.8%,9.3%,16.3%,10.4%
141,Willowbrook*,28.3%,16.9%,27.0%,14.5%,4.6%,7.1%,1.7%

In [123]:
merged_df = pd.merge(df1, df2, on='City', how='inner')

In [125]:
merged_df

,City,Grade < 9,Grade 9-12,Highschool Diploma,Some College,Associate Degree,Undergraduate Degree,Graduate Degree,Grade < 9 (%),Grade 9-12 (%),Highschool Diploma (%),Some College (%),Associate Degree (%),Undergraduate Degree (%),Graduate Degree (%)
0,Los Angeles County,"822,276","573,633","1,406,963","1,302,738","485,887","1,506,714","810,968",11.9%,8.3%,20.4%,18.9%,7.0%,21.8%,11.7%
1,Acton*,118,284,"1,282","1,696",554,"1,034",323,2.2%,5.4%,24.2%,32.1%,10.5%,19.5%,6.1%
2,Agoura Hills,283,101,"1,349","2,435","1,008","5,821","3,286",2.0%,0.7%,9.4%,17.0%,7.1%,40.8%,23.0%
3,Agua Dulce*,96,160,636,620,266,481,279,3.8%,6.3%,25.1%,24.4%,10.5%,19.0%,11.0%
4,Alhambra,"6,379","4,412","13,808","10,717","4,918","15,378","7,640",10.1%,7.0%,21.8%,16.9%,7.8%,24.3%,12.1%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,West Whittier-Los Nietos*,"2,540","2,111","5,721","3,582","1,472","2,040",757,13.9%,11.6%,31.4%,19.7%,8.1%,11.2%,4.2%
138,Westlake Village,47,137,604,795,273,"2,528","1,819",0.8%,2.2%,9.7%,12.8%,4.4%,40.8%,29.3%
139,Westmont*,"3,519","3,154","6,282","4,805","1,194","1,564",576,16.7%,15.0%,29.8%,22.8%,5.7%,7.4%,2.7%
140,Whittier,"3,210","3,339","16,431","13,625","5,301","9,321","5,920",5.6%,5.8%,28.8%,23.8%,9.3%,16.3%,10.4%
141,Willowbrook*,"3,866","2,304","3,689","1,975",626,966,226,28.3%,16.9%,27.0%,14.5%,4.6%,7.1%,1.7%

In [127]:
def clean_and_convert(value):
    value = value.replace(',', '').rstrip('%').strip()  # Remove commas, trailing '+', and whitespace
    return pd.to_numeric(value, errors='coerce')  # Convert to numeric, setting errors to NaN

merged_df.loc[:, merged_df.columns != 'City'] = merged_df.loc[:, merged_df.columns != 'City'].applymap(clean_and_convert)

C:\Users\pminh\AppData\Local\Temp\ipykernel_4384\1353660357.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  merged_df.loc[:, merged_df.columns != 'City'] = merged_df.loc[:, merged_df.columns != 'City'].applymap(clean_and_convert)

In [129]:
merged_df['City'] = merged_df['City'].str.replace('*', '', regex=False)

In [131]:
merged_df

,City,Grade < 9,Grade 9-12,Highschool Diploma,Some College,Associate Degree,Undergraduate Degree,Graduate Degree,Grade < 9 (%),Grade 9-12 (%),Highschool Diploma (%),Some College (%),Associate Degree (%),Undergraduate Degree (%),Graduate Degree (%)
0,Los Angeles County,822276,573633,1406963,1302738,485887,1506714,810968,11.9,8.3,20.4,18.9,7.0,21.8,11.7
1,Acton,118,284,1282,1696,554,1034,323,2.2,5.4,24.2,32.1,10.5,19.5,6.1
2,Agoura Hills,283,101,1349,2435,1008,5821,3286,2.0,0.7,9.4,17.0,7.1,40.8,23.0
3,Agua Dulce,96,160,636,620,266,481,279,3.8,6.3,25.1,24.4,10.5,19.0,11.0
4,Alhambra,6379,4412,13808,10717,4918,15378,7640,10.1,7.0,21.8,16.9,7.8,24.3,12.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,West Whittier-Los Nietos,2540,2111,5721,3582,1472,2040,757,13.9,11.6,31.4,19.7,8.1,11.2,4.2
138,Westlake Village,47,137,604,795,273,2528,1819,0.8,2.2,9.7,12.8,4.4,40.8,29.3
139,Westmont,3519,3154,6282,4805,1194,1564,576,16.7,15.0,29.8,22.8,5.7,7.4,2.7
140,Whittier,3210,3339,16431,13625,5301,9321,5920,5.6,5.8,28.8,23.8,9.3,16.3,10.4
141,Willowbrook,3866,2304,3689,1975,626,966,226,28.3,16.9,27.0,14.5,4.6,7.1,1.7

In [133]:
merged_df.to_csv('education.csv', index=False)